attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.34.11 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.34.11 ; python_version >= "3.11" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
coverage==7.4.0 ; python_version >= "3.11" and python_version < "3.12"
crhelper==2.0.11 ; python_version >= "3.11" and python_version < "3.12"
cryptography==41.0.7 ; python_version >= "3.11" and python_version < "3.12"
idna==3.6 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-path==0.3.2 ; python_version >= "3.11" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.11" and python_version < "3.12"
jsonschema==4.20.0 ; python_version >= "3.11" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "3.12"
moto==4.2.12 ; python_version >= "3.11" and python_version < "3.12"
openapi-schema-validator==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
openapi-spec-validator==0.7.1 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.12"
pathable==0.4.3 ; python_version >= "3.11" and python_version < "3.12"
pillow==10.2.0 ; python_version >= "3.11" and python_version < "3.12"
pluggy==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.11" and python_version < "3.12"
pytest==7.4.4 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
referencing==0.31.1 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
responses==0.24.1 ; python_version >= "3.11" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.12"
rpds-py==0.16.2 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.10.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==68.2.2 ; python_version >= "3.11" and python_version < "3.12"
simplejson==3.19.2 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==3.0.1 ; python_version >= "3.11" and python_version < "3.12"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
xmltodict==0.13.0 ; python_version >= "3.11" and python_version < "3.12"
