attrs==22.1.0; python_full_version >= "3.7.0" and python_full_version < "4.0.0" and python_version >= "3.7"
boto3==1.26.21; python_version >= "3.7"
botocore==1.29.21; python_version >= "3.7"
certifi==2022.9.24; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; python_version >= "3.6"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.7.0"
coverage==6.5.0; python_version >= "3.7"
crhelper==2.0.11
cryptography==39.0.1; python_version >= "3.6"
exceptiongroup==1.0.4; python_version < "3.11" and python_version >= "3.7"
idna==3.4; python_version >= "3.7" and python_version < "4"
iniconfig==1.1.1; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
jmespath==1.0.1; python_version >= "3.7"
jsonschema==4.17.3; python_full_version >= "3.7.0" and python_full_version < "4.0.0" and python_version >= "3.7"
loguru==0.6.0; python_version >= "3.5"
markupsafe==2.1.1; python_version >= "3.7"
moto==4.0.11; python_version >= "3.6"
openapi-schema-validator==0.2.3; python_full_version >= "3.7.0" and python_full_version < "4.0.0"
openapi-spec-validator==0.4.0; python_full_version >= "3.7.0" and python_full_version < "4.0.0"
packaging==21.3; python_version >= "3.7"
pillow==9.3.0; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pyrsistent==0.19.2; python_full_version >= "3.7.0" and python_full_version < "4.0.0" and python_version >= "3.7"
pytest==7.2.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pytz==2022.6; python_version >= "3.6"
pyyaml==6.0; python_full_version >= "3.7.0" and python_full_version < "4.0.0" and python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
responses==0.22.0; python_version >= "3.7"
s3transfer==0.6.0; python_version >= "3.7"
simplejson==3.18.0; (python_version >= "2.5" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.7"
types-toml==0.10.8.1; python_version >= "3.7"
urllib3==1.26.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
werkzeug==2.2.2; python_version >= "3.7"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
xmltodict==0.13.0; python_version >= "3.6"
